# Backend
backend/node_modules/
backend/sensor_data.db
backend/.env
backend/*.log
backend/npm-debug.log*

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Embedded
embedded/.pio/
embedded/.vscode/

# Общие системные файлы
.DS_Store
Thumbs.db
*.tmp
*.temp

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log